*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: linear-gradient(72deg,#77a746,#44aea5,#6a8ea7,#af88b4,#2c1f9d);
    background-size: 360% 360%;
    animation: gradient-animation 30s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#input-percentage-value{
    max-width: 280px;
}
#input-value{
    max-width: 280px;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
a:hover{
    color: #ffffff;
}